<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="GMDevs">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- Custom Styles -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;700&display=swap" rel="stylesheet">

    <!-- Ionic Icons -->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <!--icono volver atras-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <title>Evento Crear | GM.ICE</title>
</head>

<body id="body" class="position-relative">

<div class="row">
    <div class="d-flex p-4 ml-3">
        <a href="../../index.html">
            <button type="button" class="btn btn-secondary rounded-circle">
                <span class="btn-label"><i class="fa fa-chevron-left"></i></span></button>
        </a>
    </div>
</div>

<div class="container mt-3">
    <h1>Crear Evento</h1>
</div>

<form class="container mt-3" method="post" id="formuario-crear-evento">
    <div class="">
        <div class="mb-3">
            <label for="inputName" class="form-label">Titulo</label>
            <input type="text" class="form-control" id="inputTitle" aria-describedby="" placeholder="Titulo del evento" th:field="*{title}">
        </div>
        <div class="form-group mb-3">
            <label for="exampleFormControlTextarea1">Descripción</label>
            <textarea class="form-control" id="inputDescription" placeholder="Descripción del evento" rows="3" th:field="*{description}"></textarea>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Fecha y Hora</label>
        <div class="row">
            <div class="col-sm-4 col-12 mb-3 mr-3">
                <input id="datepicker" width="250"  class="" th:field="*{fecha}"/>
                <script>
                $('#datepicker').datepicker({
                    uiLibrary: 'bootstrap4'
                });
                </script>
            </div>


            <div class="col-sm-4 col-12 mt-2">
                <input id="timepicker" width="250" class="" th:field="*{hora}"/>
                <script>
                $('#timepicker').timepicker();
                </script>
            </div>
        </div>

    </div>
    </div>
    </div>

    <button type="submit" class="btn btn-success mb-3">Crear</button>
</form>

<script src="../../js/evento-crear.js"></script>
<script src="../../js/jquery.js"></script>
<script src="../../js/popper.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>

</html>