<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="GMDevs">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


    <!-- Custom Styles -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;700&display=swap" rel="stylesheet">

    <!-- Ionic Icons -->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <!--icono volver atras-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>

    <!--Datepicker-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

</head>

<body id="body" class="position-relative">

<div class="row">
    <div class="d-flex p-4 ml-3">
        <a href="../../index.html">
            <button type="button" class="btn btn-secondary rounded-circle">
                <span class="btn-label"><i class="fa fa-chevron-left"></i></span></button>
        </a>
    </div>
</div>

<div class="container mt-3">

    <div class="container row">
        <div class="col">
            <h1>Lista de eventos</h1>
        </div>

        <div class="d-flex justify-content-end col">
            <div class="row">
                <div class="col col-sm-4 col-md-12 col-lg-4 mt-2">
                    <input id="datepicker" width="150"  class="" placeholder="Desde"/>
                    <script>
                $('#datepicker').datepicker({
                    uiLibrary: 'bootstrap4'
                });
                </script>
                </div>

                <div class="col col-sm-4 col-md-12 col-lg-4 mt-2">
                    <input id="datepickerend" width="150" class="" placeholder="Hasta"/>
                    <script>
                $('#datepickerend').datepicker({
                    uiLibrary: 'bootstrap4'
                });
                </script>
                </div>
                <div class="col col-sm-4 col-md-12 col-lg-4 mt-2">
                    <a href="" class="btn btn-secondary text-white" id="btn-buscar">Buscar</a>
                </div>
            </div>
        </div>

        <div id="cards-eventos"></div>
        <div id="event-alert"></div>
        <!--////////////////////////////////--->
        <template id="lista-eventos-template">
            <div class="row justify-content-center">
                <div class="col col-sm-6 col-lg-6">
                     <div class="card mb-3 mt-3">
                         <div id="eventolista">
                          <img src='../../img/back_03.jpg' class="card-img " id="evento-imagen" alt="...">
                         <div class="card-body">
                             <h5 class="card-title" id="event-title"></h5>
                             <p class="card-text"><small class="text-muted" id="event-fecha"></small></p>
                             <a href="" class="btn btn-info text-white mr-2 mt-2">Ver más</a>
                             <a href="" class="btn btn-primary text-white mr-2 mt-2">Actualizar</a>
                             <a class="btn btn-danger text-white mr-2 mt-2" data-toggle="modal" data-target="#exampleModal">
                                 Eliminar
                             </a>
                             </div>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                 <div class="modal-dialog" role="document">
                                     <div class="modal-content">
                                         <div class="modal-header">
                                             <h5 class="modal-title" id="exampleModalLabel">Eliminar Evento</h5>
                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                 <span aria-hidden="true">&times;</span>
                                             </button>
                                         </div>
                                         <div class="modal-body">
                                             Estas por eliminar un evento, deseas continuar?
                                         </div>
                                         <div class="modal-footer">
                                             <button type="button" class="btn btn-danger" data-dismiss="modal" id="btn-delete">Cancelar</button>
                                             <button type="button" class="btn btn-success" id="btn-confirm">Confirmar</button>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
        </div>
    </template>

    <template id="event-alert-template">
        <div class="alert alert-primary" role="alert">
            No hay eventos para mostrar
          </div>
    </template>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../../js/evento-lista.js"></script>
<script src="../../js/jquery.js"></script>
<script src="../../js/popper.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>

</html>
